* text=auto eol=lf

*.md linguist-detectable=true -linguist-documentation -linguist-vendored -linguist-generated

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text eol=lf
*.mp4 binary
*.mp3 binary
*.zip binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
